<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>

<div class="list-group" *ngFor="let recipe of recipes">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
             <div class="pull-left">
                <h5 class="mb-1">{{recipe.name}}</h5>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
            <div class="pull-right">
                <img
                [src]="recipe.imagePath"
                alt="{{recipe.name}}"
                class="img-responsive" style="max-height: 50px;">
            </div>
        </div>
    </a>
</div>
